<%# create a new user or edit user %>
<div class="container-fluid">
    <div id="user-form">
    <h1>New Pup Registration</h1>
        <%= form_for @user do |f| %>
        <div class="user">
                <%= f.label :username %>
            </br>
                <%= f.text_field :username, placeholder: 'puppy@pupmail.com' %>
            </br>
        </div>
        <div class="password">
                <%= f.label :password %>
            </br>
                <%= f.password_field :password, placeholder: 'password' %>
            </br>
                <%= f.label :password_confirmation %>
            </br>
                <%= f.password_field :password_confirmation, placeholder: 're-enter password' %>
            </br>
        </div>
        <button>
            <h2>Submit <%= f.submit %> </h2>
        </button>
        <% end %>
    </div>
</div>
