<%# show all posts %>

<div id="single-post">
        <h1><strong> Post - </strong> <%= @post.body %> </h1>
        <h3>User - <strong><%= @post.user.username %></strong> </h3>

        <% if current_user && current_user.id == @post.user_id %>
        <%= link_to("Edit Post", edit_post_path(@post)) %>
        </br>
        <%= link_to("Delete Post", @post, method: 'delete') %>
        </br>
        <% end %>
        <h4><% if session[:user_id] %></h4>
          <h3 id="logged-in"> <%= User.find(session[:user_id]).username %></h3>
            <%= link_to("Add Comment", new_comment_path(post_id: @post.id)) %>
          <% else %>
          <h4 id="logged-out"> Please login to leave a comment </h4>
        <% end %>
</div>


    <h3><% @post.comments.reverse.each do |c| %> </h3> 
            <div id="single-comment">
                <h4>Created: <%= c.user.created_at %></h4>
                <h5>Comment</h5>
                <h3>From - <%= c.user.username %></h3>

                <h3><%= c.body %> </h3>

                </br>

                <% if current_user && current_user.id == c.user_id %>
                <%= link_to("Edit Comment", edit_comment_path(c.id)) %>
                </br>
                <%= link_to("Delete Comment", comment_path(c.id), method: :delete) %>
                <% end %>
            </div>
        <% end %>
    </div>
