<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Nova+Mono|VT323" rel="stylesheet">
    <%= favicon_link_tag asset_path('dog.png') %>
  </head>

  <body>
  <div class="container">
      <div id="login-message">
        <h4><% if session[:user_id] %></h4>
          <h3 id="logged-in"> <%= User.find(session[:user_id]).username %>, you are currently signed in </h3>
          <% else %>
          <h4 id="logged-out"> Please login </h4>
        <% end %>
      </div>
    
        <nav class="nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/posts">Posts</a>
          <% if !session[:user_id] %>
            <a class="nav-link" href="/signin">Sign In</a>
          <% end %>
          <% if session[:user_id] %>
            <a class="nav-link" href="/signout">Sign Out</a>
          <% end %>
        </nav>
      </br>
      <div id="flash-notice"><%= flash[:notice] if flash[:notice] %></div>
      <%= yield %>
  </div>
  </body>
</html>
