<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4><% if session[:user_id] %></h4>
        <h3 id="logged-in"> <%= User.find(session[:user_id]).username %>, you are currently signed in </h3>
        <h4> <% else %></h4>
        <h4 id="logged-out"> Please login </h4>
      <% end %>
    <a href="/">Home</a> <a href="/posts">Posts</a> <a href="/signin">Signin</a> <a href="/signout">Signout</a>
  </br>
    <%= flash[:notice] if flash[:notice] %>
    <%= yield %>
  </body>
</html>
